@font-face {
    font-family: IRSP;
    font-weight: 500 !important;
  src: url('assets/IranSansPaid-N.eot');
  src: url('assets/IranSansPaid-N.eot?#iefix') format('embedded-opentype'),
       url('assets/IranSansPaid-N.woff') format('woff'),
       url('assets/IranSansPaid-N.woff2') format('woff2'),
       url('assets/IranSansPaid-N.ttf') format('truetype');
}

@font-face {
    font-family: IRSPB;
    font-weight: 700 !important;
  src: url('assets/IranSansPaid-B.eot');
  src: url('assets/IranSansPaid-B.eot?#iefix') format('embedded-opentype'),
       url('assets/IranSansPaid-B.woff') format('woff'),
       url('assets/IranSansPaid-B.woff2') format('woff2'),
       url('assets/IranSansPaid-B.ttf') format('truetype');
}

@font-face {
	font-family: IRSDNB;
	font-style: normal;
	font-weight: 700 !important;
	src: url('assets/iransansdnbold.eot');
	src: url('assets/iransansdnbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('assets/iransansdnbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/iransansdnbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('assets/iransansdnbold.ttf') format('truetype');
}

@font-face {
	font-family: IRSDN;
	font-style: normal;
	font-weight: 500 !important;
	src: url('assets/iransansdn.eot');
	src: url('assets/iransansdn.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('assets/iransansdn.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('assets/iransansdn.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('assets/iransansdn.ttf') format('truetype');
}

@font-face {
	font-family: AV;
	font-style: normal;
	font-weight: 500 !important;
	src: url('/assets/AV.ttf') format('truetype');
}

@font-face {
	font-family: aviny;
	font-style: normal;
	font-weight: 500 !important;
	src: url('AV.ttf') format('truetype');
}

@font-face {
    font-family: VazirFD;
    font-weight: 500 !important;
  src: url('assets/Vazir-FD.eot');
  src: url('assets/Vazir-FD.eot?#iefix') format('embedded-opentype'),
       url('assets/Vazir-FD.woff') format('woff'),
       url('assets/Vazir-FD.woff2') format('woff2'),
       url('assets/Vazir-FD.ttf') format('truetype');
}

@font-face {
    font-family: VazirFDBold;
    font-weight: 700 !important;
  src: url('assets/Vazir-Bold-FD.eot');
  src: url('assets/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('assets/Vazir-Bold-FD.woff') format('woff'),
       url('assets/Vazir-Bold-FD.woff2') format('woff2'),
       url('assets/Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
    font-family: SamimFD;
    font-weight: 500 !important;
  src: url('assets/Samim-FD.eot');
  src: url('assets/Samim-FD.eot?#iefix') format('embedded-opentype'),
       url('assets/Samim-FD.woff') format('woff'),
       url('assets/Samim-FD.woff2') format('woff2'),
       url('assets/Samim-FD.ttf') format('truetype');
}

@font-face {
    font-family: SamimFDBold;
    font-weight: 700 !important;
  src: url('assets/Samim-Bold-FD.eot');
  src: url('assets/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('assets/Samim-Bold-FD.woff') format('woff'),
       url('assets/Samim-Bold-FD.woff2') format('woff2'),
       url('assets/Samim-Bold-FD.ttf') format('truetype');
}